@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-color: #000;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --bg-color: #000;
  --text-color: rgba(243, 135, 4, 1);
  --bg-primary: #116FFF;
  --white: #fff;
  --black: #000;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-color)
}

.text-orange {
  color: var(--text-color);
}

.bgBlur {
  border-radius: 20px;
  border: 3px solid #9747FF;
  background: rgba(215, 233, 255, 0.50);
  backdrop-filter: blur(15px);
}

.bg-button-blue {
  background-color: var(--bg-primary);
  border-radius: 20px;
}

.bg-button-white {
  background-color: var(--white);
  border-radius: 20px;
}

.text-button-blue {
  color: var(--bg-primary);
}

.custome-h {
  height: 450px;
}

.bgImage {
  background-image: url('./../../public/assets/casino/casino-animation.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-color: rgb(0 0 0 / 63%);
  background-blend-mode: color;
}

.custom-hover,
.font-sans,
.bg-button-blue,
.bg-button-white,
.text-black {
  transition: all 0.5s;
}

.custom-hover:hover {
  box-shadow: 0 3px 5px 12px #f9f9f99e;
  transition: all 0.5s;
}

.custom-hover:hover .font-sans {
  transform: scale(1.2, 1.2);
  transition: all 0.5s;
}

.custom-hover:hover .text-black {
  transform: scale(1.2, 1.2);
  transition: all 0.5s;
  color: var(--bg-primary);
}

.custom-hover:hover .bg-button-blue {
  background-color: var(--white);
  transform: scale(1.2, 1.2);
  transition: all 0.5s;
  color: var(--bg-primary);
  margin-bottom: 15px;
}

.custom-hover:hover .bg-button-white {
  background-color: var(--bg-primary);
  transform: scale(1.2, 1.2);
  transition: all 0.5s;
  color: var(--white);
}

.overflow-x-auto::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.overflow-x-auto::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--bg-primary);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.custom-body .custom-card {
  width: calc(25% - 1rem);
}

.bg-footer-color {
  background-color: #25255087;
}
.bg-footer-black {
  background-color: #000;
}

.bgColorSidebar {
  border-radius: 30px;
  background: rgba(148, 193, 255, 0.50);
  backdrop-filter: blur(5px);
  width: 52px;
  overflow: hidden;
  transition: all 0.5s;
}

.bgColorSidebar li {
  margin: 10px 0;
  padding: 3px;
  border-radius: 15px;
  transition: all 0.5;
}

.bgColorSidebar li:hover {
  background: rgb(94 118 152 / 44%);
  transition: all 0.5;
}

.bgColorSidebar li a img,
.bgColorSidebar li div img {
  max-width: 40px;
}

.bgColorSidebar:hover {
  width: 376px;
  transition: all 0.5s;
}

.bgColorSidebar li a span {
  overflow: hidden;
  height: 30px;
}

.custom-input {
  background-color: transparent;
  outline: none;
  border: 0;
  width: 368px;
  overflow: hidden;
}

.bgNews {
  border-radius: 30px;
  background: rgba(148, 193, 255, 0.50);
  backdrop-filter: blur(2px);
}

.bgNewsBlog {
  border-radius: 20px;
  border: 3px solid #9747FF;
  background: rgb(76 104 141);
  backdrop-filter: blur(2px);
  display: inline-block;
  margin-bottom: 20px;
}






/* =============== media query code =========== */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .custom-body .custom-card {
    width: calc(33.33% - 1rem);
  }
}
@media screen and (min-device-width: 768px) {
  .menu {
    display: none;
  }
  .mobile-device {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sm-flex {
    flex-direction: column;
  }

  .sm-flex>div {
    width: 100% !important;
  }

  .sm-flex .text-xl {
    font-size: 1rem;
  }

  .sm-padding {
    padding: 15px;
  }

  .sm-padding .text-2xl {
    font-size: 1rem;
  }

  .sm-footer>div>ul>li>a {
    font-size: 0.725rem;
  }

  .sm-footer>div>ul>li:first-child {
    list-style: none;
  }

  .sm-justify-center {
    justify-content: center;
  }


  /* =================== hamber button css code =================== */
.desktop-device {
  display: none;
}
.mobile-device .bgColorSidebar {
  width: 340px;
  display: none;
}
input.menu {
  position: absolute;
  top: -52px;
}
.menu {
  --s: 20px; /* control the size */
  --c: var(--white); /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked + ul {
  display: block;
}
.menu:checked + ul li {
  display: none;
}
.menu:checked + ul li{
  display: block;
}

.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

}

/* =============== media query code =========== */